.center {
    text-align: center;
}

.center svg {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.blue {
    border-bottom: 1px solid #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 20px;
}

li {
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 10px 0;
}
li > div {
    display: flex;
    align-items: center;
}

li > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
}

li > div:last-child {
    gap: 0 20px;
}

li > div > span:last-child {
    font-size: 16px;
}

li > div > svg {
    width: 20px;
    height: 20px;
    transition: all 0.2 ease-in-out;
}

li > div > svg:hover {
    transform: scale(1.05);
    fill: red;
}

.count {
    margin-top: 10px;
    font-size: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
